<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/farm.css" />

    <link
      rel="stylesheet"
      media="screen and (max-width: 768px)"
      href="css/mobile.css"
    />
    <title>FARM STATION</title>
    <script
      src="https://kit.fontawesome.com/e5e7a6623b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
        <div class="container">
          <div id="navbar">
            <div class="container">
                <div id="navbar-content">
              <div class="logo">
                <img src="images/farmlogo.png" alt="Farm station" />
              </div>
              <div class="links">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="product.html">Products</a></li>
                  <li><a class="current" href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li class="btn"><a href="login.html">Login</a></li>
                  <li class="btn"><a href="signup.html">SignUp</a></li>
                  <li class="cart"><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i><p id="count">(0)</p></a></li>
                </ul>
            </div>
              </div>
            </div>
          </div>
          </nav>
    </header>


<div class="container">
    <h1 class="text-about">About Us</h1>
    <div class="rowabout">
      <div class="colabout">
        
        <p class="lead">
          Farm Station is one of Nigeria's driving on the web Farm
          produce — offering the best products and important items for
          the society. Situated in Nigeria since we began the organization in
          2023,We’ve put our proceeded progress down to knowing what buyers
          and organizations require, and having a broad scope of the best
          frill for the most recent products — both integrated with our
          reality class client benefit. Farm Station is focused on giving
          superb client administration and we expect to give precise and
          valuable item exhortation to consumers through our site. As an
          organization, we are committed to consistent advancement to
          upgrade everybody’s involvement with Farm Station, and it’s
          gratitude to that that we presently offer more client item audits.
          Our committed and proactive group of item specialists guarantee
          that we’re reliably capable to offer the most recent and best
          embellishments for the most prominent products. Browse products,
          materials and animals and that’s only the tip of the iceberg.
        </p>
        <button class="aboutbtn">
        <a href="contact.html">
          Contact Us
        </a>
    </button>
      </div>
      <div class="aboutpic">
        <img
          src="images/farm6.jpg"
          alt="About Us"
          height="400vh"
          width="400vw"
        />
      </div>
    </div>
  </div>
   
   <!------------------------ footer ------------------------------>
   <footer>

    <div class="foot">
      <div class="container">
        <div class="flex-foot">
      <div class="col-foot">
        <div class="foot-widget">
<div class="logo-foot"> 
<a href="index.html">
        <img src="images/farmlogo.png" alt="">
      </a>
    </div>
      <p>FarmStation is a team of professionals and an online platform for generating income from selling farm produce to consumers</p>
      
   
      </div>
    </div>
      <div class=" col-foot1">
        <div class="foot-widget">
<h3>Company</h3>
<ul class="service-list">
<li><a href="home.html">Home</a></li>
<li><a href="about.html">About Us</a></li>
<li><a href="rate.html">Rate Us</a></li>
<li><a href="plan.html">Plan</a></li>
<li><a href="news.html">Latest News</a></li>
</ul>
</div>
      </div>
      <div class=" col-foot1">
        <div class="foot-widget">
        <h3>Support</h3>
        <ul class="support-list">
          <li><a href="">FAQ'</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms & Condition</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
    </div>
      <div class="col-foot">
        <div class="foot-widget">
        <h3>Contact Info</h3>
        <ul class="contact-foot">
          <li>Location: <a href=""> 9th floor Surulere, Lagos. Nigeria</a></li>
          <li>Email: <a href=""> admin@farmstation.com</a></li>
          <li>Phone: <a href=""> +coming soon</a></li>
          
        </ul>
      </div>

      </div>
    </div>
    <div class="copyright-foot">
    <p>Copyright &copy2021 FarmStation. All rights reserved</p>
  </div>
  </div>
  </footer>
</body>
</html>
