<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/farm.css" />

    <link
      rel="stylesheet"
      media="screen and (max-width: 768px)"
      href="css/mobile.css"
    />
    <title>FARM STATION</title>
    <script
      src="https://kit.fontawesome.com/e5e7a6623b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
   

    <main>
        <div class="container-check">
            <div class="left">
                <p>Payment Methods</p>
                <hr style="border: 1px solid #ccc; margin: 0 15px;">
                <div class="methods">
                    <div onclick="doFun()" id="tColorA" style="color
                :greenyellow;"><i class="fa-solid fa-credit-card" style="color
                :greenyellow;"></i> Payment by Card</div>
                <div onclick="doFunA()" id="tColorB"><i class="fa-solid fa-building-columns"></i> Internet Banks</div>
                <div onclick="doFunB()" id="tColorC"><i class="fa-solid fa-wallet"></i> Apple/Google Pay</div>
            </div>    
                <hr style="border: 1px solid #ccc; margin: 0 15px;">
            </div>
            <div class="center">
                <a href="https://www.shift4shop.com/credit-card-logos.html"><img src="https://www.shift4shop.com/images/credit-card-logos/cc-lg-4.png" title="Credit Card Logos" width="250" height="auto" alt="Credit Card Logos" /></a>
            <hr style="border: 1px solid #ccc; margin: 0 15px;">
            <div class="card-details">
                <form action="" >
                    <p>Card Number</p>
                    <div class="c-number" id="c-number">
                    <input  class="cc-number" id="number" placeholder="Card Number" maxlength="19" required>
                    <i class="fa-solid fa-credit-card" style="margin: 0;"></i>
                </div>

                <div class="c-details">
                    <div class="dateinput">
                        <p>Expiry Date</p>
                    <input  class="cc-exp" id="e-date"  placeholder="MM/YY" maxlength="5" required style=" outline: none; border-radius: 3px;">
                    </div>
                    <div>
                    <p>CVV</p>
                    <div class="cvv-box" id="cvv-box">
                    <input  class="cc-cvv" id="cvv"  maxlength="3" placeholder="CVV" required>
                    <i class="fa-solid fa-circle-question" title="3 digits on the back of your card" style="cursor: pointer;" ></i>
                </div>
            </div>
            </div>
            <div class="email">
                <p>Email</p>
                <input type="email" name="" id="email" required>
            </div>
            <button class="payn">PAY NOW</button>
        </form>
        </div>
        </div>
        <div class="right">
            <p>Order Information</p>
            <hr style="border: 1px solid #ccc; margin: 0 15px;">
            <div class="details">
                <div style="font-weight: bold; padding: 3px 0;">
                Order description</div>
                <div style="padding: 3px 0;">
Test Payment
                </div>
                </div>
                <hr style="border: 1px solid #ccc; margin: 0 15px;">
                <a href="https://www.shift4shop.com/credit-card-logos.html"><img src="https://www.shift4shop.com/images/credit-card-logos/cc-lg-4.png" title="Credit Card Logos" width="250" height="auto" alt="Credit Card Logos" /></a>
            </div>

        </div>
    </main>
    
    
    

    <!------------------------ footer ------------------------------>
    <footer>

        <div class="foot">
          <div class="container">
            <div class="flex-foot">
          <div class="col-foot">
            <div class="foot-widget">
<div class="logo-foot"> 
<a href="index.html">
            <img src="./images/farmlogo.png" alt="">
          </a>
        </div>
          <p>FarmStation is a team of professionals and an online platform for generating income from selling farm produce to consumers</p>
          
       
          </div>
        </div>
          <div class=" col-foot1">
            <div class="foot-widget">
<h3>Company</h3>
<ul class="service-list">
<li><a href="home.html">Home</a></li>
<li><a href="about.html">About Us</a></li>
<li><a href="rate.html">Rate Us</a></li>
<li><a href="plan.html">Plan</a></li>
<li><a href="news.html">Latest News</a></li>
</ul>
</div>
          </div>
          <div class=" col-foot1">
            <div class="foot-widget">
            <h3>Support</h3>
            <ul class="support-list">
              <li><a href="">FAQ'</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Condition</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
        </div>
          <div class="col-foot">
            <div class="foot-widget">
            <h3>Contact Info</h3>
            <ul class="contact-foot">
              <li>Location: <a href=""> 9th floor Surulere, Lagos. Nigeria</a></li>
              <li>Email: <a href=""> admin@farmstation.com</a></li>
              <li>Phone: <a href=""> +coming soon</a></li>
              
            </ul>
          </div>

          </div>
        </div>
        <div class="copyright-foot">
        <p>Copyright &copy2023 FarmStation. All rights reserved</p>
      </div>
      </div>
      </footer>

     <script src="js/checkout.js"></script>
  </body>
</html>
