<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/farm.css" />

    <link
      rel="stylesheet"
      media="screen and (max-width: 768px)"
      href="css/mobile.css"
    />
    <title>FARM STATION</title>
    <script
      src="https://kit.fontawesome.com/e5e7a6623b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
        <div class="container">
          <div id="navbar">
            <div class="container">
                <div id="navbar-content">
              <div class="logo">
                <img src="./images/farmlogo.png" alt="Farm station" />
              </div>
              <div class="links">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a class="current" href="contact.html">Contact</a></li>
                  <li class="btn"><a href="login.html">Login</a></li>
                  <li class="btn"><a href="signup.html">SignUp</a></li>
                  <li class="cart"><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i><p id="count">(0)</p></a></li>
                </ul>
            </div>
              </div>
            </div>
          </div>
          </nav>
    </header>


          <!-- ------------------------contact us section------------------- -->
<div class="contact-title">
  <div class="container">
      <div class="contact">
          <h2>Contact Us</h2>
      </div>
  </div>
  <section class="contact-area">
          <div class="container">
          <div class="contact-inner">
          <div class="row-contact">
          <div class="col-contact">
          <div class="contact-list">
          <h3>Some other great reasons to choose us</h3>
          <p>Take the first steps towards increased productivity and reduced stress with Strax.</p>
          <p>We are a highly trained, dedicated team, helping entrepreneurs, professionals, and small teams streamline success - not just in work, but in life too. We help spare your time to focus on the bigger picture by taking care of the little details.</p>
          <ul>
          <li><i class="fas fa-check-square"></i> Staff works from our offices in USA</li>
          <li><i class="fas fa-check-square"></i> Scale up/ down on demand</li>
          <li><i class="fas fa-check-square"></i> One time or on going projects</li>
          <li><i class="fas fa-check-square"></i> Hire based on skill set</li>
          </ul>
          </div>
          </div>
          <div class="col-contact">
          <div class="contact-form">
          <h3>Let's Start Your Free Trial</h3>
          <script language="javascript">
          
          function checkform() {
            if (document.mainform.name.value == '') {
              alert("Please type your full name!");
              document.mainform.name.focus();
              return false;
            }
            if (document.mainform.email.value == '') {
              alert("Please enter your e-mail address!");
              document.mainform.email.focus();
              return false;
            }
            if (document.mainform.message.value == '') {
              alert("Please type your message!");
              document.mainform.message.focus();
              return false;
            }
            return true;
          }
          
          </script>
          <form method="post" name="mainform" onsubmit="return checkform()"><input type="hidden" name="form_id" value="16624222157991"><input type="hidden" name="form_token" value="c2f7ceeb73b7b288ad3528ac24aa8ed2">
          <input type="hidden" name="a" value="support">
          <input type="hidden" name="action" value="send">
          <div class="row-contact">
          <div class="col-contact1">
          <div class="form-group">
          <input type="text" name="name" value="" size="30" class="form-control" placeholder="Your Name">
          </div>
          </div>
          <div class="col-contact1">
          <div class="form-group">
          <input type="text" name="email" value="" size="30" class="form-control" placeholder="Your Email">
          </div>
          </div>
          <div class="col-contact2">
          <div class="form-group">
          <textarea name="message" class="form-control" cols="45" rows="4" placeholder="Your Message"></textarea>
          </div>
          </div>
          <div class="col-contact2">
          <button type="submit" value="Send" class="send-btn">
              <i class="fas fa-paper-plane"></i>Send Message<span></span></button>
          <div class="clearfix"></div>
          </div>
          </div>
          </form>
          </div>
          </div>
          </div>
          <div class="contact-info">
          <div class="contact-info-content">
          <h3>Contact us by Phone Number or Email Address</h3>
          <h2>
          <a href="tel:">+234 Coming Soon</a>
          <span>OR</span>
          <a href="mailto:admin@farmstation">admin@farmstation</a>
          </h2>
          </div>
          </div>
          </div>
          </div>
          
  </section>
</div>


    
    <!------------------------ footer ------------------------------>
    <footer>

        <div class="foot">
          <div class="container">
            <div class="flex-foot">
          <div class="col-foot">
            <div class="foot-widget">
<div class="logo-foot"> 
<a href="index.html">
            <img src="images/farmlogo.png" alt="">
          </a>
        </div>
          <p>FarmStation is a team of professionals and an online platform for generating income from selling farm produce to consumers</p>
          
       
          </div>
        </div>
          <div class=" col-foot1">
            <div class="foot-widget">
<h3>Company</h3>
<ul class="service-list">
<li><a href="home.html">Home</a></li>
<li><a href="product.html">Products</a></li>
<li><a href="about.html">About Us</a></li>
<li><a href="rate.html">Rate Us</a></li>
<li><a href="plan.html">Plan</a></li>
<li><a href="news.html">Latest News</a></li>
</ul>
</div>
          </div>
          <div class=" col-foot1">
            <div class="foot-widget">
            <h3>Support</h3>
            <ul class="support-list">
              <li><a href="">FAQ'</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Condition</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
        </div>
          <div class="col-foot">
            <div class="foot-widget">
            <h3>Contact Info</h3>
            <ul class="contact-foot">
              <li>Location: <a href=""> 9th floor Surulere, Lagos. Nigeria</a></li>
              <li>Email: <a href=""> admin@farmstation.com</a></li>
              <li>Phone: <a href=""> +coming soon</a></li>
              
            </ul>
          </div>

          </div>
        </div>
        <div class="copyright-foot">
        <p>Copyright &copy2021 FarmStation. All rights reserved</p>
      </div>
      </div>
      </footer>
  </body>
</html>
