/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* Main Styling*/
html,
body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

/* Utility*/
.container {
    margin: auto;
    max-width: 1100px;
    overflow: hidden;
    padding: 0 1rem;
    text-align: center;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* navbar */
#navbar-content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    text-align: center;
    justify-content: space-between;
}


.logo img {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 150px;
    max-width: 200px;
    height: auto
}

#navbar {
    padding-top: 7px;
    padding-bottom: 5px;
    background: #fff;
    position: sticky;
    top: 0;
    color: #333;
    border-bottom: 0 10px 35px 5px rgb(137 173 255 / 15%);
    /* border-bottom: 1px #cecfdf; */
    -webkit-box-shadow: 0 10px 35px 5px rgb(137 173 255 / 15%);
    box-shadow: 0 10px 35px 5px rgb(137 173 255 / 15%);
    z-index: 99;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    border-radius: 50%;
    color: #333;
}

/* .btn1 {
    padding-left: 50px;
}
.btn2 {
    padding-left: 50px;
} */
.btn {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    /* background: #1F9F1F; */

    /* border-radius: 5px; */
}

.btn:hover {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    background: #1F9F1F;

    border-radius: 5px;
}

#navbar ul li {
    font-weight: 400;
    font-size: 1.1rem;
    padding-left: 5px;
}

#navbar ul li a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #333;
}


#navbar ul li a:hover,
#navbar ul li a.current {
    background: #1F9F1F;
    color: #fff;
    border-radius: 7px;
}

/*Showcase*/
#showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/farm8.jpg')no-repeat center center/cover;
    height: 100vh;
    /* position: relative; */
    /* opacity: 0.9; */
}

#showcase .showcase-content {
    /* color: #fff; */
    text-align: center;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
    color: #fff;
}

#showcase .showcase-content p {
    color: #fff;
}

span {
    color: #6ab811;
}


/* -------------------------------------footer----------------------------------------------- */

footer {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding-top: 10px;
    display: block;
    border-top: 0 10px 35px 5px rgb(137 173 255 / 15%);
    border-top: 1px #cecfdf;
    -webkit-box-shadow: 0 10px 35px 5px rgb(137 173 255 / 15%);
    box-shadow: 0 10px 35px 5px rgb(137 173 255 / 15%);
}

.divider {
    width: 100%;
    position: absolute;
    height: 100%;
    pointer-events: none;
    background: #1F9F1F;
    top: -100px;
    left: 0;
    z-index: -1;
}

.flex-foot {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-foot {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-foot1 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}

.foot-widget {
    margin-bottom: 30px;
    display: block;
}

.logo-foot {
    margin-bottom: 30px;
    display: block;
}

.logo-foot a {
    padding-top: 70px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    color: #333;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
}

.logo-foot a img {
    max-width: 200px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    background: #fff;
}

.foot-widget p {
    color: #333;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 0;
}

.foot-widget p:last-child {
    margin-bottom: 0;
}

.service-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: block;
    font-size: 15px;
    margin-block-end: 1em;
    margin-inline-end: 0;
    margin-block-start: 1em;
    margin-inline-start: 0;
    /* padding-inline-start: 40px; */
    text-align: left;
}

.service-list li {
    color: #333;
    margin-bottom: 10px;
    display: list-item;
}

.service-list a {
    display: inline-block;
    color: #333;
    transition: .5s;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

.service-list a:hover {
    color: #1F9F1F;
}

.foot-widget h3 {
    font-size: 22px;
    margin-bottom: 29px;
    color: #fff;
    font-weight: 500;
    margin-top: 0;
}

.support-list {
    padding-left: 0;
    padding-bottom: 0;
    list-style: none;
    display:
        block;
    font-weight: 400;
    line-height: 1.5;
}

.support-list li {
    color: #333;
    margin-bottom: 10px;
    display: list-item;
}

.support-list a {
    display: inline-block;
    color: #333;
    transition: .5s;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

.support-list a:hover {
    color: #1F9F1F;
}

.contact-foot {
    padding-left: 0;
    padding-bottom: 0;
    list-style: none;
    display:
        block;
    font-weight: 400;
    line-height: 1.5;
}

.contact-foot li {
    color: #333;
    margin-bottom: 10px;
    display: list-item;
}

.contact-foot a {
    display: inline-block;
    color: #333;
    transition: .5s;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

.contact-foot a:hover {
    color: #1F9F1F;
}

.copyright-foot {
    border-top: 1px solid #333;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyright-foot p {
    line-height: initial;
    color: #1F9F1F;
}

/* ---------------------------------contact us ---------------------- */
.contact-title {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact-title h2 {
    text-align: center;
    color: #333;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
}

.contact-area {
    padding-top: 100px;
    padding-bottom: 100px;

}

.contact-inner {
    background-color: #fff;
    -webkit-box-shadow: 0 10px 35px 5px rgb(137 173 255 / 15%);
    box-shadow: 0 10px 35px 5px rgb(137 173 255 / 15%);
    padding: 50px 30px;
}

.row-contact {
    display: -ms-flexbox;
    display: flex;

    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-contact {
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-list {
    padding-right: 15px;
    border-right: 1px solid #eee;
}

.contact-list h3 {
    color: #080a3c;
    margin-bottom: 12px;
    font-size: 23px;
    font-weight: 500;
}

.contact-list p {
    color: #4a6f8a;
    margin-bottom: 12px;
    line-height: 1.8;
    font-size: 15px;

}

.contact-list ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 0;
}

.contact-list ul li {
    display: list-item;
    color: #4a6f8a;
    margin-bottom: 12px;
    position: relative;
    padding-left: 20px;
}

.contact-list ul li i {
    color: #1F9F1F;
    position: absolute;
    left: 0;
    top: 4px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
}

.contact-form form .row-contact .col-contact,
.contact-form form .row-contact .col-contact1 {
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    width: 100%;

}

.contact-form form .form-group {
    margin-bottom: 15px;
}

.contact-form form .form-control {
    height: 48px;
    padding: 0 15px;
    line-height: initial;
    color: #1F9F1F;
    background-color: transparent;
    border: 1px solid #cecfdf;
    border-radius: 5px;

    transition: .5s;

    font-size: 14px;
    font-weight: 400;
}

.contact-form h3 {
    color: #1F9F1F;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 500;
}

.col-contact2 {
    padding-left: 7px;
    padding-right: 7px;
}

.contact-form form textarea.form-control {
    height: auto !important;
    padding-top: 15px;
}



.contact-form form .send-btn {
    -webkit-box-shadow: 0 5px 28.5px 1.5px rgba(67, 66, 66, 0.3) !important;
    box-shadow: 0 5px 28.5px 1.5px rgba(118, 118, 118, 0.3) !important;
}

.send-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    background-color: #1F9F1F;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.send-btn i {
    position: absolute;
    left: 25px;
    top: 30%;
    font-size: 20px;
    transition: .5s;
    color: #1F9F1F;
}

table {
    display: table;
    text-indent: initial;
    border-color: grey;
}

.contact-info {
    text-align: center;
    margin-top: 50px;
}

.contact-info .contact-info-content h3 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500;
}

.contact-info .contact-info-content h2 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 500;
}


.contact-info .contact-info-content h2 a {
    display: inline-block;
    color: #1F9F1F;

    background-color: transparent;
    text-decoration: none;
    outline: 0 !important;
}

.contact-info .contact-info-content h2 span {
    display: block;
    color: #1F9F1F;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 500;
}

.contact-info .contact-info-content h2 a:not(:first-child) {
    color: #1F9F1F;
    text-decoration: none;
    background-color: transparent;
}


/* ---------------------------About page ---------------------------- */
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
}

.aboutpic {
    padding-right: 20px;
}

.aboutbtn {
    background: #1F9F1F;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

.aboutbtn a {
    text-decoration: none;
    color: #fff;
}

.text-about {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    color: #333;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
}

.rowabout {
    padding-bottom: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.colabout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-titleare-abt {
    position: relative;
    z-index: 1;
    background-color: #080a3c;
    padding-top: 130px;
    padding-bottom: 130px;
}

.page-title-abt {
    text-align: center;
}

.page-title-abt h2 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 600;
    display: block;
    font-size: 40px;
}

.page-titleare-abt h3 {
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.page-title-abt p {
    font-size: 15px;
    color: #fff;
    line-height: 1.8;
}

figure {
    margin: 0 0 1rem;
    display: block;
}



/* --------------------------signup------------------------------ */
.row-sup-0 {
    display: -ms-flexbox;
    display: flex;

    flex-wrap: wrap;
}

.col-sup {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    text-align: left;
    background-color: #fff;
}

.col-sup1 {
    text-align: left;
    background-color: #fff;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
}

.signup-image {
    height: 100vh;
    width: 100%;
    /* background-image: url(./images/farm9.jpg); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-image img {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    border-style: none;
    opacity: 0.9;
}

.signup-content {
    height: 100vh;
    background-color: #fff;
}

.signup-content .signup-form {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.signup-content .signup-form form .form-control {
    background-color: #fff;
    display: block;
    width: 100%;
    color: #333;
    border: none;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, .2) !important;
    box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, .2) !important;
    height: 55px;
    font-size: 14px;
    background-clip: padding-box;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;

}

.signup-content .signup-form .logo-sup img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
}

.signup-content .signup-form .logo-sup {
    margin-bottom: 40px;
}

.signup-content .signup-form .logo a {
    display: inline-block;
    transition: .5s;
    color: #333;
    text-decoration: none;
    padding-top: 80px;
    outline: 0 !important;
    background-color: transparent;
    -webkit-transition: .5s;
}

.signup-content .signup-form h3 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.signup-content .signup-form p {
    margin-top: 7px;
    margin-bottom: 0;
    color: #333;

    line-height: 1.8;
    font-size: 15px;
}

.signup-content .signup-form p a {
    display: inline-block;
    transition: .5s;
    color: #1F9F1F;
    text-decoration: none;
    outline: 0 !important;
    background-color: transparent;
}

.signup-content .signup-form form {
    margin-top: 35px;

}

.form-group {
    margin-bottom: 1rem;

}

#check {
    color: #1F9F1F;
    text-decoration: none;
}

.sup-btn {

    display: block;
    width: 500px;
    -webkit-box-shadow: 0 5px 28.5px 1.5px rgb(255 97 47 / 20%);
    box-shadow: 0 5px 28.5px 1.5px rgb(255 97 47 / 20%);
    padding-left: 25px;
    border: none;
    position: relative;

    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    background-color: #1F9F1F;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;

    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px
}

.sup-btn i {
    position: absolute;
    left: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    -webkit-transition: .5s;
    transition: .5s;
    color: #fff;
}



/* --------------------------signIN------------------------------ */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}

.p-0 {
    padding: 0 !important;
}


.col-lg-6 {
    position: relative;
    width: 100%;
    padding: 0 !important;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}

.login-content .login-form form .form-control {
    background-color: #fff;
    color: #1F9F1F;
    border: none;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, .2) !important;
    box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, .2) !important;
    height: 55px;
    font-size: 14px;
}

.login-area input {
    text-align: start;
    padding: 20px;
}


.login-image {
    height: 100vh;
    width: 100%;
    background-image: url(./images/farm7.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-content .login-form h3 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 500;
    color: #333;
}

.login-image img {
    opacity: 0.9;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    border-style: none;
}

.login-content {
    height: 100vh;
}

.login-content .login-form .logo {
    /* padding-top: 70px; */
    margin-bottom: 35px;
}

.login-content .login-form .logo a {
    display: inline-block;
    -webkit-transition: .5s;
    transition: .5s;
    color: #333;
    text-decoration: none;
    outline: 0 !important;
    padding-top: 100px;
}

.login-content .login-form .logo a img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    margin-left: auto;
    margin-right: auto;

}

.login-content .login-form {
    padding-left: auto;
    padding-right: auto;
    background-color: transparent;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.login-content .login-form .logo {
    margin-bottom: 35px;
}

.login-content .login-form .logo a {
    -webkit-transition: .5s;
    transition: .5s;
    color: #333;
    text-decoration: none;
    outline: 0 !important;
    display: inline-block;
}

.login-content .login-form .logo a {
    text-decoration: none;
    background-color: transparent;
}

.login-content .login-form h3 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 500;
}

.login-content .login-form p {
    margin-top: 7px;
    margin-bottom: 0;
}

.login-content .login-form p {
    color: #333;

    line-height: 1.8;
    font-size: 15px;
}

.login-content .login-form p a {
    display: inline-block;
}

.login-content .login-form p a {

    transition: .5s;
    color: #1F9F1F;
    text-decoration: none;
    outline: 0 !important;
}

.login-content .login-form p a {

    text-decoration: none;
    background-color: transparent;
}

.login-content .login-form form {
    margin-top: 35px;
}

.login-content .login-form form .form-control {
    background-color: #fff;
    color: #333;
    border: none;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, .2) !important;
    box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, .2) !important;
    height: 55px;
    font-size: 14px;
    display: block;
    width: 100%;
}

form {
    display: block;

}

.login-content .login-form {
    text-align: center;

}

.form-group {
    display: block;
    width: 100%;
}

.login-content .login-form form .login-btn {
    display: block;
    width: 500px;
    -webkit-box-shadow: 0 5px 28.5px 1.5px rgb(255 97 47 / 20%);
    box-shadow: 0 5px 28.5px 1.5px rgb(255 97 47 / 20%);
    padding-left: 25px;
}

.login-btn i {
    position: absolute;
    left: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    -webkit-transition: .5s;
    transition: .5s;
    color: #fff;
}

.login-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    background-color: #1F9F1F;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.login-content .login-form form .forgot-password {
    text-align: right;
    margin-top: 15px;
}

.login-content .login-form form .forgot-password a {
    display: inline-block;
    color: #13c4a1;
    text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}

/* Product */
.fa-magnifying-glass:hover {
    color: #1F9F1F;
    cursor: pointer;
}

.itemcent {
    justify-content: center;
}

.input-icons button {
    width: 100%;
    position: relative;
    border: 1px solid #1F9F1F;
    border-radius: 5px;
    background-color: #333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

.input-icons button:hover {
    background-color: #1F9F1F;
}

.product {
    padding-top: 30px;
    color: #4d4d4d;
}

.box-5 h4 {
    font-family: 'Raleway', sans-serif;
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 500;
    min-height: 30px;
    text-align: center;
}

.img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.box-5 img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}



.thumb-content .btn {
    color: #00cc00;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #00cc00;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}

.thumb-content .btn:hover,
.btn:focus {
    color: #fff;
    background: #00cc00;
    box-shadow: none;
}

.item-price {
    font-size: 13px;
    padding: 2px 0;
}

.item-price strike,
.item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}

.card-5 .wish-icon {
    position: relative;
    left: 80px;
    top: 10px;
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}


.fa-heart-o {
    color: #ff6161;

}

.star-rating ul {
    list-style: none;
    text-decoration: none;
}

.star-rating li {
    padding: 0;
    text-decoration: none;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
    cursor: pointer;
}

.list-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search {
    border-radius: 50px;
    height: 30px;
    width: 50%;
    border: solid 1px #4d4d4d;
    ;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    padding-top: 5px;
    margin-bottom: 5px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    padding-left: 50px;
    text-align: left;
    margin-bottom: 3px;
    border-radius: 50px;
    height: 30px;
    width: 50%;
    border: solid 1px #4d4d4d;
    ;
}

.box-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    color: #4d4d4d;
    z-index: -99;
}

.card-5:hover {
    transform: scale(1.1);
    transition: 0.2 ease-in-out;
}

.card-5 {
    padding: 0 15px;
    display: block;
    box-shadow: 1px 0 50px -11px rgba(0, 0, 0, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3 ease;
    /* box-shadow: 0 0 3px gray; */
}

/* cart page */

.cart p {
    font-size: 20px;
    display: inline;
    padding: 7px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
}

#root {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar {
    width: 60%;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head {
    background-color: #1F9F1F;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    text-align: center;
}

.footcart {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #333;
}

#cart-container {
    overflow-x: auto;
}

#cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#cart-container table input {
    width: 25px;
    height: 20px;
}

#cart-container table thead {
    font-weight: 700;

}

#cart-container table thead td {
    background: #1F9F1F;
    color: #fff;
    border: none;
    padding: 6px 0;
}

#cart-container table td {
    border: 1px solid #b6b3b3;
    text-align: center;
}

#cart-container table td:nth-child(1) {
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 170px;
}

#cart-container table tbody img {
    width: 100px;
    height: 70px;
    object-fit: cover;
}

#cart-container table tbody i {
    color: #8d8c89;
}

#cart-bottom {
    justify-content: right;
    padding-bottom: 40px;
}

#cart-bottom .row {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#cart-bottom .coupon {
    text-align: left;
    width: 20px;
}

#cart-bottom .coupon h4,
#cart-bottom .total h4 {
    background: #1F9F1F;
    color: #fff;
    border: none;
    text-align: center;
    padding: 6px 12px;
    font-weight: 800;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input {
    padding: 6px 12px;
}

#cart-bottom .coupon input {
    height: 30px;
    margin: 0 0 20px 12px;
}

#cart-bottom .coupon>div,
#cart-bottom .total>div {
    border: 1px solid #b6b3b3;
}

#cart-bottom .total .d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px;
    border-bottom: 1px solid #b6b3b3;
}

.r-bb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px;

}

#cart-bottom .total h3 {
    color: #333;
    font-weight: 700;
    padding: 12px 12px;
}

.cartbtn {
    width: 80px;
    height: 30px;
    border: 1px solid;
    background: #333;
    text-align: center;
    font-size: 16px;
}

.cartbtn-f {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #333;
    text-align: center;
    font-size: 16px;
}

.cartbtn a {
    text-decoration: none;
    color: #fff;
}

.cartbtn-f a {
    text-decoration: none;
    color: #fff;
}

/* Checkout Page */
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-check {
    display: flex;
    width: 67%;
    border: 1px solid #ccc;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.left {
    width: 25%;
    font-weight: bold;
}

.left p {
    padding: 0px 20px;
}

.methods {
    padding: 10px 0;
}

.methods div {
    padding: 7px 20px;
    cursor: pointer;
    font-size: 15px;
}

.methods div:hover {
    box-shadow: 0 0 10px rgba(172, 255, 47, 0.196);
}

.methods div::after {
    content: '';
    display: inline-block;
    color: greenyellow;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-left-color: #333;
    margin-left: 10px;
}

.left .fa-solid,
.center .fa-solid,
.right .fa-solid {
    margin-right: 10px;
    font-size: 22px;
    color: #aaa;
}

.center {
    width: 50%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 70vh;
}

.center a {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 25%;

}

.right p {

    padding: 30px 20px;
    font-weight: bold;
}

.right a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.details {
    padding: 20px 20px;
}

.card-details {
    padding: 20px 80px;
}

.card-details .c-number {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 12px;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    border: none;
    border-radius: 3px;
    outline: none;
}

.c-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.cc-exp {
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 50px;
    margin-top: 10px;
    padding: 12px;
    width: 150px;
}

.c-details .cvv-box {
    border: 1px solid #aaa;
    margin-top: 10px;
    padding: 12px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    width: 108px;
}

.cc-cvv {
    width: 60px;
}

.email input {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 12px;
    height: 50px;
    margin-top: 10px;
}

.payn {
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 18px;
    color: #444;
    background-color: #1F9F1F;
}

.payn:hover {
    background-color: #444;
    color: white;
    cursor: pointer;
}

/* profile */

.logout {
    position: relative;
    left: 0;
    top: 0;

    display: block;
    width: 100px;
    height: auto;
    border: solid 1px #1F9F1F;
    border-radius: 10px;
    background-color: #fff;
    color: #1F9F1F;
}

.logout:hover {
    background-color: #1F9F1F;
    color: #fff;

}
.right-cor {
    position: absolute;
    right: 100px;
    padding-right: 10px;
}